.navbar {
  background: #000;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.mir-gradient {
  background: linear-gradient(to right, #DE3B35, #78201D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.logo-icon {
  width: 32.76px;
  height: 42px;
  top: 48px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.nav-links li a {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

/* ================================
   ✅ MOBILE RESPONSIVE STYLES
   ================================ */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-links {
    flex-direction:initial;
    width: 20%;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .nav-links li a {
    font-size: 0.7rem;
    padding: 0.5rem 0;
    width: 10%;
    display: grid;
  }

  .logo {
    width: 50%;
  }

  .logo-icon {
    width: 28px;
    height: 36px;
  }
}
