@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Apply Gelasio to everything by default */
  font-family: 'Poppins';
  padding: 0;
  background-color: #000; /* optional */
  color: white;           /* optional */
}

/* Override for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gelasio';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
